<%= render '/layouts/title', title: 'All Tasks' %>
<%= render '/layouts/flash_messages' %>

	<div class = "container">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Task</th>
					<th>Description</th>
					<th>Importance</th>
					<th>Due Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<% @task.each do |task|%>
					<tr>
						<td><%= task.name %></td>
						<td><%= task.description %></td>
						<td><%= task.importance %></td>
						<td><%= task.due %></td>
						<td><%= task.status %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>