<%= render '/layouts/title', title: 'All Tasks' %>
<%= render '/layouts/flash_messages' %>
	
<div class="row">
	<%=render 'layouts/quad_table', task_types: important_and_urgent %>
	<%=render 'layouts/quad_table', task_types: important_and_non_urgent %>
</div>
<div class="row">
	<%=render 'layouts/quad_table', task_types: unimportant_and_urgent %>
	<%=render 'layouts/quad_table', task_types: unimportant_and_non_urgent %>
</div>
	
