<div class="container">
	<% if logged_in? %>
		<%= link_to 'Home', root_path %> |
		<%= link_to 'New Task', new_task_path %> |
		<%= link_to 'Edit User', edit_user_path(:id) %> |
		<%= link_to 'Logout', logout_path %> |
		Current User: <%= session[:user_id] %> |
	<% else %>
		<%= link_to 'Home', root_path %> |
		<%= link_to 'Login', login_path %> |
		<%= link_to 'Register User', new_user_path %> |
			Current User: <%= session[:user_id] %> |	
	<%end %>
</div>